{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
{% if not lot.active %}
<p class="border border-primary rounded p-3 mb-2 bg-primary text-white"> The auctioin is closed.
  {% if lot.buyer == user %}
  You are the buyer.
  {% endif %}
</p>
{% endif %}
{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|safe }}</div>
  {% endfor %}
</div>
{% endif %}
<h4>{{ lot.title }}</h4>
<small>Listed by: {{ lot.seller }}</small><br>
<small>Category:
  {% if lot.category %}
  <a href="{% url 'category_listings' lot.category %}">{{ lot.category }}</a></small>
{% else %}
Not set yet
{% endif %}
<br>
<hr>
<img class="lot-img"
  src="{% if lot.image %}{{ lot.image.url }}{% else %}{% static 'auctions/images/lot_default_pic.png' %}{% endif %}"
  alt="Lot's picture">
<br><br>
<p>{{ lot.description }}</p>
<hr>
<h5>Price:
  {{ lot.bid }}
</h5>
{% if user == lot.seller %}
{{ lot.bids.count }} bids so far.
<br>
<br>
{% if lot.active %}
<a href="{% url 'update_lot' lot.pk %}" class="btn btn-primary">Modify</a>
<a href="{% url 'delete_lot' lot.pk %}" class="btn btn-primary">Delete</a>
<a href="{% url 'close_auction' lot.pk %}" class="btn btn-danger">Close</a>
{% else %}
<a href="{% url 'delete_lot' lot.pk %}" class="btn btn-primary">Delete</a>
{% endif %}
{% else %}
<p>
  {% if lot in user_watchlist  %}
  <a href="{% url 'update_watchlist' lot.pk %}" class="btn btn-danger btn-sm">Remove from watchlist</a>
  {% else %}
  <a href="{% url 'update_watchlist' lot.pk %}" class="btn btn-primary  btn-sm">Add to watchlist</a>
  {% endif %}
</p>


<small>
  {{ lot.bids.count }} bids so far.
  {% if lot.bids.all.last.bidder == request.user %}
  Your bid is the current bid.
  {% endif %}
</small>
<br>
{% if lot.active %}
<form action="{% url 'place_bid' lot.pk %}" method="post">
  {% csrf_token %}
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <input name="offer" type="number" class="form-control" placeholder="Bid" required step="0.01">
    </div>
    <div class="col-auto">
      <input type="submit" value="Place Bid" class="btn btn-primary">
    </div>
  </div>
</form>
{% endif %}

{% endif %}
<hr>
<h5>Comments</h5>
{% for comment in lot.comments.all %}
<div class="w-auto p-3" style="background-color: #eee;">
  <p><strong>{{ comment.commenter }}</strong> <br>
    <small class="text-muted"> {{ comment.add_date }}</small></p>
    <hr>
  <p>{{ comment.content }}</p>
</div>
<br>
{% endfor %}
<form action="{% url 'comment' lot.pk %}" method="post">
  {% csrf_token %}
  <textarea name="content" rows="5" class="form-control"></textarea>
  <br>
  <input type="submit" value="Comment" class="btn btn-primary">
</form>



{% endblock body %}