{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
<h4>{{ lot.title }}</h4>
<small>Listed by: {{ lot.seller }}</small><br>
<small>Category: No Category Listed</small><br>
<hr>
<img class="lot-img"
  src="{% if lot.image %}{{ lot.image.url }}{% else %}{% static 'auctions/images/lot_default_pic.png' %}{% endif %}"
  alt="Lot's picture">
<br><br>
<p>{{ lot.description|safe }}</p>
<hr>
<h5>Price: {{ lot.bid }}</h5>
<small>2 bids so far. Your bid is the current bid.</small>
<form action="{% url 'place_bid' lot.pk %}">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <input type="number" class="form-control" placeholder="Bid">
    </div>
    <div class="col-auto">
      <input type="button" value="Place Bid" class="btn btn-primary">
    </div>
  </div>
</form>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock body %}