{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
{% if user.is_authenticated and request.user.id == user.id %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <input type="submit" value="Update Listing" class="btn btn-primary" />
  <a href="{% url 'delete_lot' lot.id %}" class="btn btn-primary">Delete Listing</a>
</form>
{% else %}
Sorry, you need to <a href="{% url 'login' %}">Log In</a>.
{% endif %}

{% endblock body %}
